<footer id="footer">

    <div class="container">
      <div class="footer-top">
        <div class="social-links d-flex justify-content-center align-items-center">
          <a class="mx-3" href=""><i class="bi bi-twitter fs-4"></i></a>
          <a class="mx-3" href=""><i class="bi bi-instagram fs-4"></i></a>
          <a class="mx-3" href=""><i class="bi bi-facebook fs-4"></i></a>
        </div>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Kreios Pharma</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer>