/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 24px 0;
  background: rgba(255, 255, 255, 0.75);
}

#header.header-transparent {
  /* background: transparent; */
}

#header.header-scrolled {
  background: rgba(255, 255, 255, 0.9);
  padding: 12px;
 
}

#header .logo h1 {
  font-size: 24px;
  margin: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: rgb(0,150,219);
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 50px;
  padding: 2px;
  border-radius: 15px;
}

@media (max-width: 768px) {
  #header.header-scrolled {
    padding: 15px 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
  position: static;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  margin-left: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: rgb(0,150,219);
  white-space: nowrap;
  transition: 0.3s;
  text-decoration: none;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  /* background: rgba(255, 255, 255, 0.1); */
  /* border-radius: 45%; */
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 10px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
  color: #2f4d5a;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #67b0d1;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .megamenu {
  position: static;
}

.navbar .megamenu ul {
  margin: 0;
  padding: 10px;
  display: block;
  position: absolute;
  top: 130%;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  display: flex;
  transition: 0.3s;
  border-radius: 4px;
  z-index: 99;
}

.navbar .megamenu ul li {
  flex: 1;
}

.navbar .megamenu ul li strong {
  padding: 10px 0 10px 20px;
  display: block;
}

.navbar .megamenu ul li a,
.navbar .megamenu ul li:hover>a {
  color: rgba(var(--color-white-rgb), 0.5);
  background: none;
  padding: 8px 10px;
}

.navbar .megamenu ul li a:hover,
.navbar .megamenu ul li .active,
.navbar .megamenu ul li .active:hover {
  color: #67b0d1;
}

.navbar .megamenu:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: rgb(0,150,219);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #2f4d5a;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #67b0d1;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #67b0d1;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

.navbar-mobile .megamenu ul li a,
.navbar-mobile .megamenu ul li:hover>a {
  color: rgba(var(--color-white-rgb), 0.5);
  background: none;
}

.navbar-mobile .megamenu ul li a:hover,
.navbar-mobile .megamenu ul li .active,
.navbar-mobile .megamenu ul li .active:hover {
  color: #67b0d1;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 998;
  background: #67b0d1;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #86c0da;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  /* background: linear-gradient(rgba(55, 142, 181, 0.5), rgba(55, 142, 181, 0.2)), url("../img/hero-bg.jpg") top center; */
  /* background: url("../img/welcome2.gif") top center; */
  background-size: cover;
  position: relative;
  /* margin-bottom: -90px; */
}
#myVideo {
  position: absolute;
top: 0;
left: 0;
z-index: -1;
width: 100vw;
height: 100vh;

}
@media (min-aspect-ratio: 16/9){
#myVideo{
width: 100%;
height: auto;
}
}
@media (max-aspect-ratio: 16/9){
#myVideo{
width: auto;
height: 100%;
}
}
#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  /* color: #fff; */
  /* text-shadow: -1px 0 2px #b5b5b5; */
  background: -webkit-linear-gradient(45deg,rgb(96,137,197), rgb(69, 140, 247));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#hero h2 {
  color: #fff;
  margin-bottom: 50px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  background: -webkit-linear-gradient(45deg,rgb(97, 97, 97),rgb(93, 93, 93));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#hero .btn-get-started {
  position: relative;
  top: 25vh;
  font-size: 36px;
  display: inline-block;
  padding: 4px 0;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
  margin: 5vh;
  width: 64px;
  height: 64px;
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

#hero .btn-get-started:hover {
  padding-top: 8px;
  background: rgba(255, 255, 255, 0.15);
  color: rgb(0, 136, 255);
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f4f9fc;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  position: relative;
  margin-bottom: 30px;
  color: #2f4d5a;
  z-index: 2;
}

.section-title h2::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 122px;
  height: 66px;
  background: url(../img/section-title-bg.png) no-repeat;
  z-index: -1;
}

.section-title p {
  margin-bottom: 0;
  padding: 0px 14px;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team{
  background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23ceefff' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.team .member {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}

.team .member .pic {
  overflow: hidden;
}

.team .member .member-info {
  position: absolute;
  top: 85%;
  left: 20px;
  right: 20px;
  background: #fff;
  padding: 20px 0;
  color: #2f4d5a;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  max-height: 95px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.team .member:hover .member-info {
  max-height: 300px;
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 16px;
  color: #2f4d5a;
  position: relative;
  padding-bottom: 10px;
}

.team .member h4::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #b1cbd7;
  bottom: 0;
  left: calc(50% - 25px);
}

.team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

.team .member .social {
  margin-top: 15px;
}

.team .member .social a {
  transition: color 0.3s;
  color: #52869d;
}

.team .member .social a:hover {
  color: #67b0d1;
}

.team .member .social i {
  font-size: 16px;
  margin: 0 2px;
}

@media (max-width: 992px) {
  .team .member {
    margin-bottom: 110px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #263f49;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
  -webkit-box-shadow: 0px -2px 23px 0px rgba(148,148,148,0.7);
-moz-box-shadow: 0px -2px 23px 0px rgba(148,148,148,0.7);
box-shadow: 0px -2px 23px 0px rgba(148,148,148,0.7);
}

#footer .footer-top {
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-top: -90px;
  margin-bottom: 15px;
  background: white;
  color: #2f4d5a;
  border-top: 4px solid #67b0d1;
  text-align: center;
  padding: 30px 20px;
}

#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #2f4d5a;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 5px;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #67b0d1;
  color: #fff;
  text-decoration: none;
  border: 1px solid #67b0d1;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #b5d9e9;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #a2cfe3;
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4;
}

#footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #67b0d1;
  color: #fff;
  transition: 0.3s;
  border-radius: 4;
}

#footer .footer-top .footer-newsletter form input[type=submit]:hover {
  background: #409cc5;
}

#footer .copyright {
  border-top: 1px solid #385b6b;
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

@media (max-width: 575px) {
  #footer .footer-top .footer-info {
    margin: -20px 0 30px 0;
  }
}
/* section 2 */
.sec2{
min-height: 90vh;  
/* background-color: #FFF;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='p' width='100' height='100' patternUnits='userSpaceOnUse' patternTransform='scale(0.25)'%3E%3Cpath data-color='outline' fill='none' stroke='%23CDF0FF' stroke-width='12.29' d='M33.5 100V66.5H0v-33h33.5V0h33v33.5H100v33H66.5V100z'%3E%3C/path%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23p)' width='100%25' height='100%25'%3E%3C/rect%3E%3C/svg%3E");
background-size: cover;
background-position: center;
background-repeat: no-repeat; */
background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23ceefff' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.box{
 height: 55vh;
 width: 25vw;
 min-width: 300px;
 transform-style: preserve-3d;
 /* transform: perspective(1000px); */
 /* overflow: hidden; */
 box-shadow:
  0px 0px 8.7px rgba(0, 0, 0, 0.021),
  0px 0px 23.9px rgba(0, 0, 0, 0.03),
  0px 0px 57.6px rgba(0, 0, 0, 0.039),
  0px 0px 191px rgba(0, 0, 0, 0.06);
}
.box:hover{
  box-shadow:
  0px 0px 2.5px rgba(0, 0, 0, 0.078),
  0px 0px 5.9px rgba(0, 0, 0, 0.104),
  0px 0px 11.1px rgba(0, 0, 0, 0.12),
  0px 0px 19.9px rgba(0, 0, 0, 0.133),
  0px 0px 37.2px rgba(0, 0, 0, 0.15),
  0px 0px 89px rgba(0, 0, 0, 0.2);
}
.box img{
  width: 100%;
  height: 100%;
}
.box .box-content{
 position: relative;
 top: -100%;
 height: 100%;
 width: 100%;
 padding: 2rem;
 padding-top: 30%;
transform: translateZ(20px);
}
.box .box-content p{
  font-size: large;
}
 #box1 .box-content{
  background-color: #0096dbd3;
 }
 #box1 .box-content:hover{
  transition: ease-in 0.2s;
  background-color: #0096db5a;
 }
 #box2 .box-content{
  background-color: #db6600db;
 }
 #box2 .box-content:hover{
  transition: ease-in 0.2s;
  background-color: #db66007c;
 }
 
 #box3 .box-content{
  background-color: #006b1bd8;
 }
 #box3 .box-content:hover{
  transition: ease-in 0.2s;
  background-color: #006b1b8a;
 }
 
/* section 3 */
.sec3{
  min-height: 90vh;  
  background-color: #FFFFFF;
  background-image: url("../img/sec3/about-bg2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}
.video-bg{
  background-image: url("../img/sec3/lab.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  width: 100vw;
  height: 53vh;
}

.play-btn {
  width: 100px;
  height: 100px;
  background: radial-gradient( rgba(0, 153, 255, 0.8) 60%, rgb(255, 255, 255) 62%);
  border-radius: 50%;
  position: relative;
  display: block;
  margin: 30px auto;
  margin-top: 20vh;
  box-shadow: 0px 0px 25px 3px rgba(0, 162, 255, 0.8);
}

/* triangle */
.play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #fff;
  z-index: 100;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* pulse wave */
.play-btn:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, .75);
  top: -25%;
  left: -25%;
  background: rgba(198, 16, 0, 0);
}

@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}
/* blogs */
.blogs{
  min-height: 90vh;  
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23ceefff' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");  
}

.blog-card {
 min-width: 320px;
 min-height: 360px;
 width: 27vw;
 height: 55vh;
  font-family: 'Droid Serif', serif;
  color:#ffffff;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0px;
  box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition:all 0.4s;
}

#blog-card1{
    background: url(../img/blog/blood-sugar.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
#blog-card2{
  background: url(../img/blog/Diabites.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}
#blog-card3{
  background: url(../img/blog/Anti-Aging.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}
.blog-card:hover{
  box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75);
}

.blog-card a{ 
  color:#fff;
    text-decoration:none;
    transition:all 0.2s
  }
.blog-card-top{
  z-index: 2;
  background-color: rgba(121, 121, 121, 0.455);
  transition:all 0.4s;
  height: 100%;
  width: 100%;
}
.blog-card:hover .blog-card-top{
  background-color: rgba(0, 101, 132, 0.667);
}
.blog-card .blog-card-top .title-content h3{
  padding-top: 45%;
  transition:all 0.4s;
 }
 .blog-card:hover .blog-card-top .title-content h3{
  padding-top: 30%;
 }
.blog-card .blog-card-top .title-content h3 a{
 padding-top: 45%;
 color: white;
 font-weight: 600;
}
.card-info{
  opacity: 0;
  padding: 10px 30px;
  font-size: 18px;
  transition:all 0.4s;
}
.blog-card:hover .card-info {
  opacity: 1;
}
.card-info a{
  color: #ffffff;
  background: #409cc5;
}
.card-info a:hover{
  color: #409cc5;
  background: #ffffff;
  font-weight: 500;
}
/* ========= About =========== */
.about{
  min-height: 90vh;  
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23ceefff' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");  
}
.about-header{
  margin-top: 10vh;
  height: fit-content;
  width: 100vw;
  background-color: #67b0d1;
  /* background-image: url('../img/about.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
.about-header img {
 width: 100%;
 height: fit-content;
}
.rotate-logo img{
  animation: rotate360 3s infinite linear;
}
@keyframes rotate360 {
  0%{
      transform: rotateY(0deg);
  }
  100%{
      transform: rotateY(360deg);
  }
}
.content{
  padding: 10px;
  font-size: 17px;
}
.content .first::first-letter{

  font-size: 25px;
  font-weight: 700;

}
/* ================ Therapy ============== */

.therapy-header img{
  width: 100%;
}
/* ================ Events ============== */

.events-header img{
  width: 100%;
}
@media (max-width: 575px) {
  .events-header img, .therapy-header img, .about-header img{
   height: 30vh;
  }
}


.events .box {
  padding: 50px 20px;
  margin-bottom: 80px;
  text-align: center;
  border: 1px solid #2e5098;
  height: 200px;
  position: relative;
  background: #fafafa;
  box-shadow:
  4.5px 4.1px 5.3px rgba(0, 0, 0, 0.018),
  15.2px 13.8px 17.9px rgba(0, 0, 0, 0.035),
  68px 62px 80px rgba(0, 0, 0, 0.07);
}

.events .icon {
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  transition: 0.2s;
  border-radius: 50%;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 72px;
  height: 72px;
  background: #fafafa;
   border: 2px solid #334692;
   z-index: 99;
}

.events .icon i {
  color: #0053ac;
  font-size: 30px;
  line-height: 0;
}
.events .box:hover .icon {
  background: #fff;
  border: 2px solid #334692;
}
.events .box:hover .icon i {
  color: #334692;
}
.events .box:hover .icon a {
  color: #334692;
}
.events .title {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 15px;
  background: -webkit-linear-gradient(#2d99ff, #08a58b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
.events .title a {
  color: #111;
}
.events .description {
  font-size: 16px;
  line-height: 24px;
}

/* ========== contact us ============== */
.social-links a {
  font-size: 18px;
  display: inline-block;
  background: #2f4d5a;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 5px;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  transition: 0.3s;
}

 .social-links a:hover {
  background: #67b0d1;
  color: #fff;
  text-decoration: none;
  border: 1px solid #67b0d1;
}

